.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(#ababab,1), rgba(#def, 2) 80%, rgba(white, .5));

  &__main {
    flex-grow: 1;
  }
}

.container {
  max-width: 65rem;
  margin: 2rem auto;
}
