.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: linear-gradient(to bottom, #83a4d4, #b6fbff);

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}

.container {
  max-width: 65rem;
  margin: 1rem;
}

.footer {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
  }

  &__logo {
    margin-left: 0.5rem;
    height: 1rem;
  }
}
