.pup {
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    position: relative;
    -webkit-transform: rotate(-7deg);
    flex-shrink: 0;
  }

  &__polaroid {
    height: 25rem;
  }

  &__photo {
    position: absolute;
    top: 1.25rem;
    left: 1.4rem;
    height: 18.65rem;
    width: 18.2rem;
    object-fit: cover;

  }

&__title {
  position: absolute;
  top: 19rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Pacifico', sans-serif;
  font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .pup {
    flex-direction: column;
  }
}
