.pup {
  display: flex;
  justify-content: center;
  align-items: center;

  &__group {
    flex-basis: calc(50% - 2rem);
    margin: 0 1rem;
  }

  &__image {
    position: relative;
    -webkit-transform: rotate(-7deg);
  }

  &__polaroid {
    height: 25rem;
  }

  &__photo {
    position: absolute;
    top: 1.32rem;
    left: 1.4rem;
    height: 18.5rem;
    width: 17.5rem;
    object-fit: cover;
  }

&__title {
  position: absolute;
  top: 19rem;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Pacifico', sans-serif;
  font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .pup {
    flex-direction: column;

    &__photo {
      width: 18rem;
    }
  }
}
