<div class="app">
  <div class="app__main">
    <div class="container">
      <div class="pup">
        <div class="pup__image">
          <img src="../images/polaroid.jpg" class="pup__polaroid" alt="">
          <img src="../images/pup.jpeg" class="pup__photo" alt="">
          <p class="pup__title">Mickey</p>
        </div>
        <div class="pup__info">
          <p class="pup__info-stats">Breed: Italian Greyhound</p>
          <p class="pup__info-stats">Gender: Male</p>
          <p class="pup__info-stats">Adopt Me At: <a href="http://awos.petfinder.com/shelters/MD339.html" class="pup__adoptAt">Mid Atlantic IG Rescue (IGCA)</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
