<div class="app">

  <div class="app__main">
    <div class="container">
      <div class="pup">
        <div class="pup__group">
          <div class="pup__image">
            <img src="../images/polaroid.jpg" class="pup__polaroid" alt="">
            <img src="../images/pup.jpeg" class="pup__photo" alt="">
            <p class="pup__title">Mickey</p>
          </div>
        </div>
        <div class="pup__group">
          <div class="pup__info">
            <p class="pup__info-stats">Breed: Italian Greyhound</p>
            <p class="pup__info-stats">Gender: Male</p>
            <p class="pup__info-stats">Adopt me at <a href="http://awos.petfinder.com/shelters/MD339.html" class="pup__link">Mid Atlantic IG Rescue (IGCA)</a></p>
            <p class="pup__info-stats">Find out more about me on <a href="https://www.petfinder.com/petdetail/37201867" class="pup__link">Petfinder</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p class="footer__title">Powered by<a href="https://www.petfinder.com"><img src="https://www.petfinder.com/banner-images/widgets/41.jpg" class="footer__logo" target="_blank" border="0" alt="Pet Adoption"/></a></p>
  </div>
</div>
